/* Configurações Gerais */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f8ff; /* Fundo claro com tom azulado */
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilização da Navbar */
.navbar {
    background-color: #007bff; /* Cor de fundo azul */
}

.nav-link, .navbar-brand {
    color: #fff !important; /* Texto branco na barra de navegação */
    font-weight: bold;
}

/* Estilo dos Itens de Vídeo */
.video-item {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Animação suave ao passar o mouse */
}

.video-item:hover {
    transform: scale(1.02); /* Aumenta um pouco ao passar o mouse */
}

.video-title {
    color: #0056b3; /* Azul escuro */
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Mantém a proporção 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 15px;
    border: 3px solid #007bff; /* Borda azul */
    box-shadow: 0 2px 15px rgba(0, 123, 255, 0.2);
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%; /* Aumenta o tamanho do vídeo */
    height: 110%;
    border: none;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

/* Media Queries para Dispositivos Móveis */
@media (max-width: 768px) {
    .video-title {
        font-size: 20px;
    }
    button {
        width: 100%;
        padding: 12px;
    }
}
